@{
    ViewData["Title"] = "Vehicle Details Page";
}

<h2>Vehicle Details Page</h2>
<p>This will serve as our view template.</p>
<img src="~/images/bmw.jpg" alt="A clean BMW E30" class="img-responsive" />