@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<h2>Vehicle Details Page</h2>
<p>@ViewData["debugString"]</p>

<a href="@Url.Action("RotateRight", "Picture")">Dummy Function</a>
<!-- <img src="~/images/bmw.jpg" alt="A BMW E30" /> -->
<img src="~/images/bmw.jpg" alt="A BMW E34" />